@import "scenes/styles/_variables";

.SectionHeader {
  padding: 20px;
  background-color: $blue;
}

.SectionHeader__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;

  &:hover {
    text-decoration: underline;
  }
}

.SectionHeader__link__icon {
  margin-right: 10px;
}
