@import "scenes/styles/_variables";

.IconButton {
  background: transparent;  
  width: 33px;
  height: 33px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 50%;

  &:hover {
    background: $dark-grey;
    color: $grey;
  }
}